ENV=production

PORT=8080
ADMIN_EMAIL=1chadaevartem030806@gmail.com
OTP_HMAC_SECRET=
UploadDir=./uploads
JWT_SECRET=

FRONTEND_PORT=3000
VITE_API_URL=https://backend.pharma-hub.ru

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=diplom

VALKEY_HOST=valkey
VALKEY_PORT=6379

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=030806chadaevartem@gmail.com
SMTP_PASS=

ALLOWED_ORIGINS=https://pharma-hub.ru