# --- Backend ---
PORT=8080
ADMIN_EMAIL=1chadaevartem030806@gmail.com

# --- Frontend ---
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:8080

# --- PostgreSQL 17 ---m
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=diplom

# --- Valkey (Redis-compatible) ---
VALKEY_HOST=valkey
VALKEY_PORT=6379

# --- Mail
UNISENDER_API_KEY=6sz5ry6uwygn7jkaofgi5ucmn7f7wk5oouh36eaa
UNISENDER_API_URL=https://api.unisender.com/ru/api/sendEmail
UNISENDER_FROM_EMAIL=Artem_Chadaev_03_08_06@mail.ru
UNISENDER_FROM_NAME=PharmaLog