# App
PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=diplom_db

# Auth
JWT_SECRET=super_secret_jwt_key_please_change_for_prod
ADMIN_USER=admin
ADMIN_PASSWORD=admin
